@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400;1,9..40,500&family=Syne:wght@800;400;500&display=swap');

@import "tailwindcss";

@theme {
  --font-dm-mono: "DM Mono", monospace;
  --font-syne: "Syne", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

:root{
  background: #0a0a0f;
  --color-surface:#111118;
  --color-card:#16161f;
  --color-border:#2a2a3a;
  --color-accent:#5bffc3;
  --color-accent3: #ffd166;
  --color-text: #e8e8f0;
  --color-muted: #6a6a8a;
}

*::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  cursor: none;
  overflow-x: hidden;
}

body::before{
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.03'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 9990;
  opacity: 0.4;
}

button{
  cursor: none !important;
}

@keyframes gridshift {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(60px);
    }
}

@keyframes orbpulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}
